.OverlapRating {
  width: fit-content;
  top: 200px;
  position: absolute;
}

.Overlap {
  width: fit-content;
  top: 4px;
  position: absolute;
}

.CartText {
  width: fit-content;
  font-weight: bolder;
  font-size: 20px;
  color:  rgb(0, 184, 223);
}

.Card {
  margin: 4px;
  margin-bottom: 10px;
}

.td {
  margin: 0px;
  padding: 0px;
}

.Title {
  margin-left: 8px;
  margin-bottom: 0px;
  font-weight: bolder;
}

.Price {
  margin: 0px;
  padding: 0 4px;
  align-self: flex-end;
  font-weight: normal;
}

.PriceCancel {
  margin: 0px;
  margin-right: 8px;
  align-self: flex-end;
  font-weight: lighter;
  font-style: italic;
  text-decoration: line-through;
}

.link {
  color: #fff;
}
.link:hover {
  color: #fff;
}
